[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file conforms
Version=0.5

# The name of the application
Name=Encrypted Notepad

# A comment which can/will be used as a tooltip
Comment=A simple text editor that loads and saves encrypted files

# The path to the folder in which the executable is run
Path=~/bin

# The executable of the application, possibly with arguments.
Exec=EncryptedNotepad

# The name of the icon that will be used to display this entry
Icon=EncryptedNotepad_icon.png

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Office;Security
